@media (min-width: 1200px) {
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
}
.personalcontainer{
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    background: linear-gradient(to bottom right, pink, yellow);
    height:100%;
    color:#F0386B;
	font-family: 'Lato', sans-serif;
	clear:both;
	overflow:auto;
	position:relative;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
.searchform{
	padding-top:5%;
}
}
.topcorner{
display:inline-block;
position:relative;
top:2%;
right:2%;
}
.btn{
background-color: #ff9602;
border: none
}
.step-links a{
color: #FAFF00;
}
.projectdetails{
	line-height:1;
}
h1{
	color: #F0386B;
	font-family: 'Lemon', cursive;
	font-size: 80px;
	font-style:italic;
}
img {
    display: inline-block;
}
.form-group{
	padding:20px;
}
.searchresults p{
	text-align: center;
	font-size:20px;
	padding-top: 5px;
    padding-bottom: 5px;
    color:#FAFF00;
    border-radius:8px;
    display:block;
}
.table tr:nth-child(4n+1){
	background-color: #FFB68E;
  border: 1px solid black;
}
.table tbody tr{
	height:110px;
  border: 1px solid black;
}
.lyricsdiv{
	max-height:135px;
	overflow:scroll;
}

.imgholder{
	padding: 0px;
    padding-top: 9px;
}
.table{
	color:#064789;
  border: 1px solid black;
}
#formheader{
	clear:both;
	width:100%;
}
.footer {
	position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F0386B;
    text-align: left;
    padding-left:20px;
}
.table th{
	color:#064789;
	background-color: white;
  opacity: 0.75;
}
.lyricsbutton{
	width: 26px;
    float: left;
}
.lyrics{
    max-width: 11px;
    overflow: scroll;
    background: white;
    color: #FFB68E;
}
.hidden{
	display:none;
}
#selecter{
	margin: 10px;
    background-color: #FFB68E;
}
.categorysearchlink{
	display:block;
}
.mood{
	display:inline-block;
	padding:20px;
	background:gray;
	border-radius:10px;
	color:#FFB68E;
	margin:5px;
	width:100px;
}
.mood:hover{
	filter:brightness(120%);
}
.mood-groups{
	padding:20px;
}
.mood-selected{
	background-color:#FF37A6;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 80px;
  height: 80px;
  background-color:inherit
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.embedded{
	width:325;
}
