@media (min-width: 1200px) {
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
}
.personalcontainer{
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    background-color: #004080;
    height:100%;
    color:#d1d1e0;
	font-family: 'Lato', sans-serif;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
.searchform{
	padding-top:5%;
}
}
.topcorner{
display:inline-block;
position:relative;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
.projectdetails{
	line-height:1;
}
h1{
	color:#d1d1e0;
	font-family: 'Lato', sans-serif;
	font-size: 80px;
	font-style:italic;
}
.form-group{
	padding:20px;
}