<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="personalcontainer">
            <div class="topcorner">
                <p class="projectdetails">Project Name: {{ name }}</p>
                <p class="projectdetails">Student Name: ({{ netid }})</p>
            </div>
            <form class="form-inline global-search searchform">
                <h1>
                    Tunage
                </h1>
                <p>Your message in song form<p>
                <br><br>
                
                <div class="form-group">
                    <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                </div>
                <button type="submit" class="btn btn-info"> Go! </button>
            </form>
            <form class="form-inline global-search">
            {% if data %}
                <h1>{{output_message}}</h1>
                {% for d in data %}  
                    <br>
                    <p>{{d}}</p>
                {% endfor %}
            {% endif %}
            </form>
        </div>
    </body>

</html>