<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
        <script src="/static/javascript/spotifycontroller.js"></script>
        <script src="/static/javascript/script.js"> </script>
        <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="personalcontainer">
            <div class="loginarea">
                {% if tok %}
                    Logged in to Spotify
                {% else %}
                    <a href="auth">Log in to Spotify</a>
                    {{tok}}
                {% endif %}
            </div>
            <form class="form-inline global-search searchform" id="mainform" target="_self">
                <div id="formheader">
                    <h1>
                        Tunage
                    </h1>
                    <p>Your message in song form</p>
                </div>

                <div class="clearline">
                    <div class="form-group">
                        <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                    </div>
                    <div class="mood-groups hidden">
                        <div class="mood">Happy</div>
                        <div class="mood">Sad</div>
                        <div class="mood">Angry</div>
                        <div class="mood">Breakup</div>
                        <div class="mood">Tired</div>
                        <div class="mood">Angry</div>
                        <div class="mood">Love</div>
                        <div class="mood">Relaxed</div>
                        <div class="mood">Chill</div>
                    </div>
                    <button type="button" class="btn btn-info" id="searchbutton"> Go! </button>
                </form>
            </div>
            <div class="searchresults">
                <form class="form-inline global-search">
                {% if data %}
                    <h1 class="searchheader">{{output_message}}</h1>
                    <table class="data-results">
                            <tr class="resultheader">
                            </tr>
                    {% for d in data %}
                            <tr class="result-item">
                                <!--<td class="playbutton"><img src="../../images/playbutton.png"></img></td>-->
                                <td class="data-songname">{{d.song}}</td>
                                <td class="data-artist">{{d.artist}}</td>
                            </tr>
                    {% endfor %}
                    </table>
                {% endif %}
                </form>
            </div>
            <!--
            <div class="footer">
                <p class="projectdetails">Project Name: {{ name }}</p>
                <p class="projectdetails">Student Name: ({{ netid }}</p>
            </div>
            -->
        </div>
    </body>

</html>
